<%for(let i = 0; i < users.length; i++){%>

<tr>
    <td><%= i + 1 %></td>
    <td><%=users[i].name %></td>
    <td><%=users[i].DOB %></td>
    <td><%=users[i].email %></td>
    <td><%=users[i].gender %></td>
    <td><%=users[i].status %></td>
    <td class="act-btns">
        <a href="/updateUser" class="update-btn">
            <img src="/img/edit.png" alt="pencil" class="icon pen">
        </a>
        <a href="#" class="delete-btn">
            <img src="/img/bin.png" alt="bin" class="icon bin">
        </a>
    </td>
</tr>
<% } %>